<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Movie List</h6>
    </div>

    <div class="card-body movies-card-body">
        <div class="movie-table-area overflow-auto table-responsive">
            <table class="table table-hover movies-table">
                <thead>
                    <tr>
                        <th class="row-title">Title</th>
                        <th>Popularity</th>
                        <th>Release Date</th>
                        <th>Vote Average</th>
                        <th>Vote Count</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let movie of movies; let i = index">
                        <tr (click)="movieClicked(movie, i)" [class.highlight]="i == selectedRow" class="hoverRow">
                            <td>{{movie.title}}</td>
                            <td>{{movie.popularity}}</td>
                            <td>{{movie.release_date}}</td>
                            <td>{{movie.vote_average}}</td>
                            <td>{{movie.vote_count}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <ngb-pagination [collectionSize]="paginationData.totalPages" 
                        [(page)]="paginationData.currentPage" 
                        class="d-flex justify-content-center"
                        [maxSize]="5" 
                        [boundaryLinks]="true" 
                        [rotate]="true" 
                        (pageChange)="onPageChanged($event)" 
                        size="sm">
        </ngb-pagination>
    </div>
</div>