.movies-card-body {
    height: 570px;
}

.movie-table-area {
    position: relative;
    height: 33rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .movie-table-area {
      height: 33rem;
    }
  }

.movies-table td {
    text-align: center;
    vertical-align: middle;
}

.movies-table th {
    text-align: center;
    vertical-align: middle;
}