.movie-preview-area {
    position: relative;
    height: 35rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .movie-preview-area {
      height: 35rem;
    }
  }

  .movie-sub-details {
    color: #4e73df;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}