.movie-preview-area {
    position: relative;
    height: 33rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .movie-preview-area {
      height: 33rem;
    }
  }

.movie-btn {
  color: #fff !important;
}