<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="d-sm-flex align-items-center justify-content-between">
          <h1 class="h3 text-primary">Movies Application</h1>
        </div>
        <!-- Search functionality pending -->
        <!-- <form class="d-none d-sm-inline-block form-inline ml-auto mr-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for movies..."
              aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchTerm" name="search">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="searchMovie()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form> -->
      </nav>

      <div class="container-fluid movie-content">
        <app-movie-stats></app-movie-stats>
        <router-outlet></router-outlet>
      </div>

    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>

  </div>
</div>